{% extends 'mainbase.html' %}
 {% block title %}Course{% endblock title %}

{% block content %}

<h1 class="text-center">Courses</h1>
{% for c in course %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-muted">{{c.name}}</h5>
    <p class="card-text">{{c.description}}</p>
    <p class="d-flex">{{c.description}}</p>
    <div class="d-flex"><h6>duration : </h6><p>{{c.duration}}month</p></div>
    <div class="d-flex"><h6>fee : </h6><p>{{c.fee}}/-</p></div>
  </div>
</div>
 {% endfor %}
{% endblock %}